body{
	background-image: url('Background.jpg');
	margin:2px;
	padding: 5px;
	border-style:groove;
	border-width: 5px;
	border-color: #ffffb3; 
	color:#ff9999;
}
h1
{
	font-size:25x;
	font-family: Palatino Linotype;
	color:#2eb82e;
	text-shadow: 2px 2px #999966;
}
h2
{
	font-size:27px;
	font-family: Algerian;
	color:#cccc00;
	text-align: center;
}
h3
{
	font-size:20px;
	font-family: serif;
	color:#cccc00;
}
div.beta
{
	font-size:18px;
	font-family: Book Antiqua;
	color:#ffe6ff;
}
div.gamma
{
	font-size:18px;
	font-family: Times New Roman;
	color:#ff9999;
}
div.penelope
{
	position:center;
}
.container {
  font-family: Arial;
}
.text-block1 {
  position:absolute; 
  TOP:320px; 
  LEFT:400px; 
  WIDTH:200px; 
  HEIGHT:50px;
  color-white;
  background-color: black;
  text-align: center;
}
.text-block2 {
  position:absolute; 
  TOP:751px; 
  LEFT:400px; 
  WIDTH:200px; 
  HEIGHT:50px;
  color-white;
  background-color: black;
  text-align: center;
}
.text-block3 {
  position:absolute; 
  TOP:1184px; 
  LEFT:400px; 
  WIDTH:200px; 
  HEIGHT:50px;
  color-white;
  background-color: black;
  text-align: center;
}
.text-block4 {
  position:absolute; 
  TOP:1620px; 
  LEFT:400px; 
  WIDTH:250px; 
  HEIGHT:50px;
  color-white;
  background-color: black;
  text-align: center;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  cursor:progress;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}